body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f4ff;
}

.container{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    color: #6a5acd;
}

.container a{
    text-decoration: none;
    background-color: #6a5acd;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

.container a:hover{
    background-color: #4d3ca5;
}